:root {
    --dark-blue: #0a1a2f;
    --light-blue: #6cb9e9;
    --medium-blue: #3a6ea5;
    --white: #ffffff;
  }

body, html {
margin: 0;
padding: 0;
height: 100%;
}

.bg-main-grad {
    background: linear-gradient(to bottom right, var(--dark-blue), var(--medium-blue) 100%);
}
.bg-main-dark-blue {
    background-color: var(--dark-blue);
}
.btn-main-dark-blue {
    background-color: var(--dark-blue);
    color: var(--white);
}